snippet puf "Public function" !b
public function ${1:name}(${2:$param})
{
    ${VISUAL}${0:return null;}
}
endsnippet

snippet prof "Protected function" !b
protected function ${1:name}(${2:$param})
{
    ${VISUAL}${0:return null;}
}
endsnippet

snippet prif "Private function" !b
private function ${1:name}(${2:$param})
{
    ${VISUAL}${0:return null;}
}
endsnippet
