snippet fra "Frame"
\begin{frame}
  \frametitle{${1:title}}
  ${2}
\end{frame}
endsnippet

snippet item "Itemize"
\begin{itemize}
  \item ${1}
\end{itemize}
endsnippet

snippet sec "Section"
\section{$1}
endsnippet
